{% extends 'base.html.twig' %}
{% block body %}

<h1> Bienvenue dans ce blog !</h1>
<p>Les marques font aujourd’hui d’énormes investissements afin d’améliorer leur visibilité digitale. D’ailleurs, les entreprises ont de plus en plus recours aux services des influenceurs comme des blogueurs pour promouvoir leur activité. Même s’ils sont très prisés, certains ont encore des difficultés à trouver des clients.</p>
<p>Comme une marque, un blogueur doit également prospecter. Pour cela, il dispose de différents outils. Outre les solutions digitales, il y a également les supports print. L’accès à ces services est simplifié. Des sites comme Helloprint permettent en outre de commander en ligne des supports de communication divers tels qu’un flyer, des affiches ou encore des cartes de visite…</p>
{% endblock %}